<div class="mb-4">
  <img src="../static/images/logo-light.png" alt="" />
</div>
<nav class="mt-6">
  <ul class="ml-3 space-y-6">
    <li
      class="hover:text-stone-400 text-lg transition-all hover:ease-linear hover:delay-100 hover:translate-x-2 hover:scale-110"
    >
      <a
        href="{{ url_for('dashboard.index') }}"
        class="flex items-center gap-3 hover:text-purple-600"
      >
        <img
          src="../static/images/home.svg"
          alt=""
          class="w-5 h-5 hover:bg-purple-600"
        />
        <span>Home</span>
      </a>
    </li>
    <li
      class="hover:text-stone-400 text-lg transition-all hover:ease-linear hover:delay-100 hover:translate-x-2 hover:scale-110"
    >
      <a
        href="{{ url_for('booking.index') }}"
        class="flex items-center gap-3 hover:text-purple-600"
      >
        <img
          src="../static/images/booking.svg"
          alt=""
          class="w-5 h-5 hover:bg-purple-600"
        />
        <span>Bookings</span>
      </a>
    </li>
    <li
      class="hover:text-stone-400 text-lg transition-all hover:ease-linear hover:delay-100 hover:translate-x-2 hover:scale-110"
    >
      <a
        href="{{ url_for('cabin.index') }}"
        class="flex items-center gap-3 hover:text-purple-600"
      >
        <img
          src="../static/images/cabin.svg"
          alt=""
          class="w-5 h-5 hover:bg-purple-600"
        />
        <span>Cabins</span>
      </a>
    </li>
    <li
      class="hover:text-stone-400 text-lg transition-all hover:ease-linear hover:delay-100 hover:translate-x-2 hover:scale-110"
    >
      <a
        href="{{ url_for('users.index') }}"
        class="flex items-center gap-3 hover:text-purple-600"
      >
        <img
          src="../static/images/users.svg"
          alt=""
          class="w-5 h-5 hover:bg-purple-600"
        />
        <span>Users</span>
      </a>
    </li>
    <li
      class="hover:text-stone-400 text-lg transition-all hover:ease-linear hover:delay-100 hover:translate-x-2 hover:scale-110"
    >
      <a
        href="{{ url_for('settings.index') }}"
        class="flex items-center gap-3 hover:text-purple-600"
      >
        <img
          src="../static/images/settings.svg"
          alt=""
          class="w-5 h-5 hover:bg-purple-600"
        />
        <span>Settings</span>
      </a>
    </li>
  </ul>
</nav>
